@import "tailwindcss";

body {
  color: #2B061E;
  background-color: #FAFAFA;
  font-family: var(--font-inter);
}

.font-display {
  font-family: var(--font-playfair);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}